@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
p {
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
p.bold {
    font-weight: 700;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    font-size: 1rem;
    font-weight: 500;
}

p.small {
    font-size: 0.85rem;
}

:root {
    font-size: 1rem;

    --color-title-active: #14142b;
    --color-body: #4e4b66;
    --color-label: #6e7191;
    --color-placeholder: #a0a3bd;
    --color-line: #d9dbe9;
    --color-input-bg: #eff0f6;
    --color-bg: #f7f7fc;
    --color-off-white: #fcfcfc;

    --color-primary: #3a86ff;
    --color-primary-dark: #005ef4;
    --color-primary-light: #639fff;

    --color-secondary: #ffb338;
    --color-secondary-dark: #f49700;
    --color-secondary-light: #ffc363;

    --color-error: #f13c4b;
    --color-success: #81bb24;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

p.small {
    font-size: 0.85rem;
}

html,
body,
#__next {
    height: 100%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

#nprogress {
    position: relative;
    z-index: 9999999;
}

#nprogress .spinner-icon {
    display: none;
}

#nprogress .bar {
    background: var(--color-primary-light) !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--color-primary-light),
        0 0 5px var(--color-primary-light) !important;
}

button:focus {
    outline: none;
}

select:focus {
    outline: none;
}
